.Home {
  background-image: url("../../../public/assets/image/img.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Home h1 {
  color: white;
  text-align: center;
}